<div class="container mt-2">
  <form>
    <div class="form-group">
      <label for="componentarray">Add data</label>
      <input type="text" class="form-control" id="componentarray"
      (keyup.enter)="addTopic(topic)" #topic />

      <ul class="list-group mt-2">
        <li class="list-group-item" *ngFor="let topic of topics.controls">
          {{topic.value}} <span 
          (click)="removeTopic(topic)"
          class="float-right btn btn-sm btn-danger">Remove</span>

        </li>
      </ul>
    </div>


  </form>
</div>
